@import 'loading.css';

:root
{
    --green: #1DB954;
}
  

/*
* 
* @author Alquipo Neto
*/

/* Layout */
html,
body,
body {
    background: url(../img/capa.png),
        url(../img/ruido.png),
        linear-gradient(50deg, #ff4169, #7c26f8);
    background-attachment: fixed;
    font-family: Helvetica, Arial, sans-serif;
}

section
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home {
    padding-top: 300px;
    padding-bottom: 300px;
    overflow-x: hidden;
    /*esconder barra horizontal*/
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    animation: arrow-bounce 1s ease-in-out infinite;
    z-index: 999999;
  }
  
  .scroll-to-top i
  {
    color: #f1f1f1;;
  }

  .scroll-to-top.show {
    opacity: 1;
    visibility: visible;
  }


@keyframes arrow-bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
}
  

.navbar
{
    height: 80px;
    transition: height 0.4s ease-out;

}

.navbar-scrolled {
    height: 50px;
 }


/* navbar */
nav.navbar-transparent {
    background: rgba(0, 0, 0, 0.6);
    padding: 15px 0px;

}


.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #9bf0e1;
}

.navbar-light .navbar-toggler {
    color: rgba(255, 255, 255, .5);
    border-color: rgba(255, 255, 255, .1);
}

.division {
    width: 1px;
    background: white;
    margin: 12px 15px;
}

/* CAPA */
.cover {
    text-align: center;
}

.btn-custom {
    color: white;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    text-transform: uppercase;
    transition: background 0.4s, color 0.4s;
    padding: 10px 20px;
}

.btn-custom-2 {
    color: white;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    text-transform: uppercase;
    transition: background 0.4s, color 0.4s;
    padding: 10px 20px;
}

.btn-purple {
    background: #7c26f8;
}

.btn-purple:hover {
    background: #6207e3;
    color: white;
}

.btn-white {
    border: 2px solid white;
}

.btn-white:hover {
    background: white;
    color: black;
}

.carousel-control-next,
.carousel-control-prev {
    width: 5%;

}

/* services */
.box1 {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: justify;
    color: black;
}

.box2 {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: justify;
    color: white;
}

#school {
    background: white;

}

#school h2,
h3 {
    padding-top: 10px;
    text-transform: capitalize;
    text-align: left;
    color: #7c25f8;
}

#resources h3 {
    color: #9bf0e1;
}

#resources h2 {
    color: white;
}

.albums {
    padding: 10px 0;
}

.albums img {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.3s ease;
  }

  .albums img:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
  
.rotation {
    transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    /*IE 9 */
    -webkit-transform: rotate(30deg);
    /*Chrome safari opera*/
    padding-left: 80px;
}

/* FOOTER */
footer {
    background: #000;
    padding: 50px 0px 220px 0px;
    position: relative;
}

footer h4 {
    color: #919496;
    font-size: 0.8em;
    text-transform: uppercase;
}

footer .navbar-nav a {
    color: white;
    font-size: 0.8em;
}

footer .navbar-nav a:hover {
    color: #9bf0e1;
    text-decoration: none;
}

footer ul {
    list-style: none;
}

footer ul li {
    float: right;
    margin: 0 5px;
}


/* :TYPOGRAPHY */

h1 {
    font-weight: 900;
    letter-spacing: -0.05em;
    margin-bottom: 50px;
    color: white;

}

h2 {
    font-size: 3em;
    font-weight: 700;
    letter-spacing: -0.04em;
}

h3 {
    font-size: 2em;
    font-weight: 700;
    letter-spacing: -0.04em;
}


/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .btn-custom {
        margin: 10px 15px;
        font-size: 1m;
    }

    .navbar-toggler
    {
        margin-top: -20px;
        margin-right: 30px;
    }

    .navbar-brand img
    {
        margin-top: -20px;
        margin-left: 15px;
    }

    .btn-custom-2 {
        margin: 46px 15px;
        font-size: 1m;
    }

    h2 {
        font-size: 2em;
        font-weight: 700;
        letter-spacing: -0.04em;
    }

    h3 {
        font-size: 1em;
        font-weight: 700;
        letter-spacing: -0.04em;
    }

    footer {
        padding: 20px 0px 20px 0px;
    }

    footer img.footer-logo {
        padding-bottom: 20px;
    }

}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    h1 {
        font-size: 3em;
    }


    .btn-custom {
        margin: 10px 15px;
        font-size: 1m;
    }

    .btn-custom-2 {
        margin: 46px 15px;
        font-size: 1m;
    }

    h2 {
        font-size: 2em;
        font-weight: 700;
        letter-spacing: -0.04em;
    }

    h3 {
        font-size: 1em;
        font-weight: 700;
        letter-spacing: -0.04em;
    }

    footer {
        padding: 20px 0px 20px 0px;

    }

    footer img.footer-logo {
        padding-bottom: 20px;
    }

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    h1 {
        font-size: 4em;
    }

    .btn-custom {
        font-size: 1.1em;
    }
    .btn-custom-2{
        font-size: 1.1em;
    }

    h2 {
        font-size: 2em;
        font-weight: 700;
        letter-spacing: -0.04em;
    }

    h3 {
        font-size: 1em;
        font-weight: 700;
        letter-spacing: -0.04em;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    h1 {
        font-size: 5em;
    }

}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    h1 {
        font-size: 6em;
    }

}



    /* CSS to style the music player */
    #music-player {
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 60px;
        padding: 10px;
        box-sizing: border-box;
        z-index: 9999;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .audio-player {

        border: 10px;
        border-radius: 25px;
        color: var(--green);
        margin-bottom: 30px;
      }

