html {
  scroll-behavior: initial;
  overflow: hidden;
}

html, body {
  width: 100%;
  min-height: 100%;
}



h2 {
  font-size: 60px;
  font-weight: 900;
  line-height: 85%;
  border-left: 3px solid #ff98a2;
  padding: 25px;
  margin: 0
}

h2 span { display: block; }

h3 {font-size: 20px;font-stretch: expanded;color: #ff98a2;line-height: 100%;}

h2,h3,h4 {text-transform: uppercase;}

.container {
  width: 95%;
  margin: auto;
}

section {padding: 50px 0;}

.col {
  width: 50%;
}

#vertical {height: 200vh;width: 100vw;}

.vertical__content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.vertical__content .col_left {height: 100%;}

.vertical__content .col.col_right {
  width: 40%;
}

.vertical__item:not(:last-child) {
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 10px;
  background-color: #212529;
  margin-bottom: 80px;
}
.vertical__item p {
  color: white;
}

#horizontal {
  padding: 100px 0;
}

.horizontal__content {
  display: flex;
}

.horizontal__item {
  border: 1px solid #efefef;
  padding: 150px 150px;

}
.horizontal__item:not(:last-child) {
  margin-right: 50px;
}

.horizontal__num {
  font-size: 80px;
  font-weight: 900;
  font-stretch: condensed;
  color: #ff98a2;
}

.top-right-link {
  position: fixed;
  top: 10px; /* Adjust this value as needed */
  right: 10px; /* Adjust this value as needed */
  z-index: 9999;
  text-decoration: none;
  color: #212529;
  letter-spacing: 5px;
  transition: all 0.4 ease;

  /* Add any additional styles as needed */
}

.top-right-link:hover
{
  color:#efefef;
}


#portfolio-music-player {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 60px;
  padding: 10px;
  box-sizing: border-box;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}




.education-item {
  display: flex;
  border-radius: 5px;
  background-color: #333333;
  align-items: center;
  padding: 20px;
  margin-bottom: 5px;
  gap: 10px;
  cursor: pointer;
  position: relative;
  transition: all .1s ease-in-out;
}

.education-item:hover
{
  box-shadow: 2px 2px 2px white;
  transform: scale(1.02);
}

.pop-up-box {
  position: absolute;
  top: 0;
  left: -500px;
  width: 400px;
  padding: 20px;
  border-radius: 5px;
  background-color: #f2f2f2;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  opacity: 0;
  pointer-events: none;
}

.pop-up-box h4
{
  text-align: center;
}


.left-column {
  flex: 1;
}

.right-column {
  flex: 0 0 150px;
  text-align: right;
}

.education-item h3 {
  margin-bottom: 5px;
}

.education-item p {
  margin: 5px 0;
  font-style: italic;
  color: #888;
}

.skills {
  padding: 15px;
  border-radius: 10px;
  background-color: #333333;
  margin-bottom: 5px;
}

.last-item {
  padding: 25px;
  border-radius: 10px;
  background-color: #212529;
}

.contacts
{
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 8px;
  color: #fff;
  background-color: #333333;
  text-align: left;
  margin-bottom: 5px;
}

